/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
  color: #fff; }

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff; }

/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #333; }

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5); }

.cover-container {
  max-width: 65em; }

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem; }

.masthead-brand {
  margin-bottom: 0; }

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent; }

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25); }

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem; }

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff; }

@media (min-width: 48em) {
  .masthead-brand {
    float: left; }
  .nav-masthead {
    float: right; } }

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem; }

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700; }

.logo-img {
  /* display: block; */
  max-width: 40%;
  height: auto; }

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, 0.5); }

/*
* Meet Us Styling
*/
.intro-bg {
  position: center;
  background-image: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  height: 100%;
  transform: skewY(-5deg); }

.intro-bg:hover {
  transform: skewY(0deg);
  transform: scale(1.15);
  transform: translateY(-25px); }

.intro-bg-normal {
  height: 100%;
  width: 100%;
  transform: translateY(-40px); }

.content {
  max-width: 50em;
  margin: 0 auto;
  color: black;
  text-shadow: #333; }

.carouselCard h4, .carouselCard p {
  color: black; }

.fab {
  color: white; }
  .fab :hover {
    color: #40E340;
    transform: scale(1.5); }

.jumbotron {
  background-image: url("../img/jumbotron.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #333; }

.mycontent-left {
  border-right: 1px dashed white; }

.inTouch {
  height: 200px;
  margin: 0 auto; }
  .inTouch .address, .inTouch .web, .inTouch .support {
    color: #2a2aad;
    padding-left: 40px; }

.inTouch .fa-phone-alt {
  color: #2a2aad;
  padding-left: 10px; }

.sendYourMessage {
  padding-left: 80px; }

.inTouch .fa-map-marker-alt, .inTouch .fa-phone-alt, .inTouch .fa-globe, .inTouch .fa-envelope {
  color: #0b2f5e; }

.main {
  color: #1B202C; }

.linkd {
  text-decoration: none;
  color: #db42d4; }

.linkd:hover {
  color: #db42d4; }

#forms input[type="text"]::placeholder, #forms input[type="email"]::placeholder {
  text-align: center; }

#forms option, #forms textarea {
  text-align: center; }

.btn-primary,
.btn-primary:hover {
  background-color: #333;
  border-color: #fff;
  line-height: 1.8; }

.notMain {
  line-height: 2.1; }

.custom-control-description {
  color: white;
  font-size: 12px;
  line-height: 2.7;
  text-transform: uppercase; }

.infoUs {
  background-color: #1B202C;
  height: 507px;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  border-radius: 10px; }

.separate {
  height: 500px;
  border-right: 1px dashed white; }

.forms {
  border-radius: 10px;
  height: 507; }
